@import 'https://fonts.googleapis.com/css?family=Petrona|Basic';

html, body {
	background-color: #eee;
}

.oldStyle {
	font-family: "monospace";
}

a {
	color: #2F66FE;
}
a:hover {
	color: #2F66FE;
	text-decoration: underline;
}

.text p {
	font-family: "Petrona";
	font-size: 1.1em;
	text-align: justify;
}

.text h1, h2 {
	font-family: "Basic";
	margin-top: 10px;
}

.oldStyle:after {
	content:"_";
	opacity: 0;
	animation: cursor 1s infinite;
}
@keyframes cursor {
	0% {
		opacity: 0;
	}
	40% {
		opacity: 0;
	}
	50% {
		opacity: 1;
	}
	90% {
		opacity: 1;
	}
	100% {
		opacity: 0;
	}
}

.wrapper {
	lost-center: 100%;
}
.content {
	width: 50vw;
	margin-left: calc(99.99% * 2/7);
}
.main-inner {
	padding: 40px 35px;
}
@media screen and (max-width:1100px) {
	.content {
		lost-column: 6/10;
		margin-left: calc(99.99% * 1/3 + 20px);
	}
	.main-inner {
		padding: 35px 20px;
	}
}
@media screen and (max-width:900px) {
	.content {
		lost-column: 1/2;
		margin-left: calc(99.99% * 1/2);
	}
	.main-inner {
		padding: 30px 20px;
	}
}
@media screen and (max-width:500px) {
	.content {
		lost-column: 8/9;
		margin-left: 20px;
	}
	.main-inner {
		padding: 25px 20px;
	}
}
